body {
    padding: 170px;
}

td {
    padding: 5px;
}

.linha10 {
    background-color: #13ffe3;
}

.linha11 {
    background-color: #14ead1;
}

.linha12 {
    background-color: #11d8c1;
}

.linha13 {
    background-color: #11ccb6;
}

.linha14 {
    background-color: #0fbca8;
}

.linha15 {
    background-color: #16b7a4;
}     

.linha16 {
    background-color: #13ac9a;
}

.linha17 {
    background-color: #0ea291;
}

.linha18 {
    background-color: #0d9787;
}

.linha19 {
    background-color: #0c8476;
}

.linha20 {
    background-color: #097a6c;
}